/* =======================================
      GRID LAYOUT
========================================= */

.container {
  background-color: #195477;
  height: fill;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto);
  grid-template-areas:
  "header"
  "subtitle"
  "main"
  "section"
  "footer";
}

header {
  grid-area: header;
}

.subtitle {
  grid-area: subtitle;
  text-align: center;
}

main {
  grid-area: main;
}

section {
  grid-area: section;
}

footer {
  grid-area: footer;
}

/* =======================================
      STYLES
========================================= */

main {
  text-align: center;
}

main p,
main h3 {
  text-align: left;
}

.wrap-main {
  background-color: #fff;
  max-width: 1000px;
  margin: auto;
}

.subtitle {
  background-color: #dde8f0;
  margin: 0;
  padding: 0;
  border-top: 2px solid #e37222;
}

.subtitle h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 1.75rem;
  color: #195477;
  margin: 0;
}

h3 {
  padding-top: 25px;
  margin: 0;
}

.video {
  width: 100%;
  height: auto;
}

main img {
  /*margin-top: 15px;*/
  height: 250px;
  width: 300px;
  /*border-radius: 10px;*/
}

/*.video {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}*/

.doctor-profile {
  text-align: center;
}

.doctor-profile ul {
  text-align: left;
}
section {
  text-align: center;
  background-color: black;
  /*background-color: #dde8f0;*/
}

/* =======================================
      MEDIA QUERIES
========================================= */

@media (min-width: 575px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(50px, auto) minmax(50px, auto) minmax(400px, auto) minmax(50px, auto) minmax(50px, auto);
    grid-template-areas:
    "header header"
    "subtitle subtitle"
    "main main"
    "section section"
    "footer footer"
  }

  .contact-info p{
    margin: 0 10px 0 0;
  }
  nav a {
    padding: 5px 8px 5px 8px;
  }
  .subtitle h2 {
    font-size: 2.2rem;
  }
}

@media (min-width: 767px) {
  .subtitle h2 {
    font-size: 2.7rem;
  }
  li {
    font-size: 1.1rem;
  }
  .doctor-profile h3 {
    text-align: center;
  }
}

@media (min-width: 991px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(50px, auto) minmax(50px, auto) minmax(400px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto);
    grid-template-areas:
    "header header"
    "subtitle subtitle"
    "main main"
    "main main"
    "section section"
    "footer footer"
  }
}
