* {
  box-sizing: border-box;
}
* {
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100vh;
  background-color: #484c51;
  padding: 0;
  margin: 0;
  font: 1em/1.5 "Roboto", Helvetica, Arial, sans-serif;
}

.container {
  width: 100%;
  background-color: #dde8f0;
}

.wrap {
  max-width: 1200px;
  margin: auto;
}

p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #195477;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  color: #195477;
  margin: 0;
}

/*added display: none for now*/
nav {
  display: none;
}

img {
  max-width: 100%;
}

header {
  padding-top: 20px;
  background-color: #9da7ad;
  /*background-color: #657882;*/
  text-align: center;
  border-bottom: solid 7px #195477;
}

.nav {
  /*float: right;*/
  width: 100%;
}

.nav-toggle {
  display: block;
  /*float: right;*/
  height: 120px;
  width: 100%;
  background: url("../images/menu-button-of-three-horizontal-lines.svg") no-repeat 125% center;
  cursor: pointer;
}



/*.logo-image,
.contact-info {
  flex-basis: auto;
}*/

/*changed nav to .nav for now to next 5 down*/
header .nav {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

header .nav ul {
  overflow: hidden;
  height: 0;
  /*border-top-right-radius: 20px;
  border-top-left-radius: 20px;*/
}

header .nav ul.open {
  height: auto;
  width: 100vw;
}

header .nav ul li {
  list-style: none;
  text-align: left;
  width: 100%;
  margin: 0;
}

header .nav ul li a {
  color: #fff;
  padding: 10px;
  font-size: 1.4rem;
  margin: 0;
  text-decoration: none;
  display: block;
}

.selected {
  background-color: #2479ab;
  border-radius: 5px;
  /*color: #70c3ce;*/
  /*color: #000;*/
}
/*.nav {
  flex: 1;
}*/
.logo-image {
  float: left;
}

.logo-image img {
  width: 270px;
  height: 90px;
  /*margin-bottom: 20px;*/
}

.contact-info {
  color: #000;
  display: none;
  float: right;
  text-align: center;
  margin: 15px 20px 0 0;
}

.contact-info p {
  padding: 3px 0 3px 0;
}

.contact-info img {
  vertical-align: middle;
  padding: 0 15px 0 0;
}

/*changed nav to .nav for now for next 2*/
.nav a:hover {
  color: #70c3ce;
  border-radius: 5px 15px 5px;
  /*background-color: #195477;*/
  transition: all 0.6s ease;
}

.nav a:active {
  color: #000;
}

footer {
  border-top: 7px solid #195477;
  padding-top: 25px;
  background-color: #9da7ad;
  /*background-color: #657882;*/
  text-align: center;
  color: #000;
}

footer img {
  padding: 5px;
  vertical-align: middle;
  /*height: 50px;
  width: 50px;*/
}

.footer-content-one {
  border-bottom: 2px solid #fff;
}

.footer-content-three p {
  font-size: .8rem;
}

/* =======================================
      MEDIA QUERIES
========================================= */

@media (min-width: 400px) {
  .nav-toggle {
    background: url("../images/menu-button-of-three-horizontal-lines.svg") no-repeat 105% center;
  }
}

@media (min-width: 575px) {
  /*changed nav to .nav for just right below for now*/
  header .nav ul li {
    text-align: left;
  }
  .nav-toggle {
    /*background: url("../images/menu-button-of-three-horizontal-lines.svg") no-repeat 100% right;*/
  }
  .logo-image img {
    width: 330px;
    height: 110px;
  }
}

@media (min-width: 767px) {

  /*.wrap-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }*/

  p {
    font-size: 1.1rem;
  }

  header {
    padding-bottom: 25px;
    border: none;
  }

  .contact-info {
    display: block;
    margin-top: 5px;
  }

  .contact-info p {
    font-size: 1.2rem;
  }

  .nav-items {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  nav ul {
    /*background-color: #1e3139;*/
    /*background-color: #195477;*/
    text-align: center;
    /*height: auto;*/
    width: 100%;
    /*display: inline-block;*/
  }

  nav ul li {
    list-style: none;
    text-align: center;
    display: inline;
    width: 100%;
    margin: 0;
  }

  nav ul li a {
    display: inline-block;
    color: #fff;
    padding: 10px 15px 10px 15px;
    font-size: 1.1rem;
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }

  nav a:hover {
    /*color: #70c3ce;*/
    background-color: #2479ab;
    border-radius: 5px;
  }

  .nav {
    display: none;
  }

  nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: block;
    background-color: #195477;
    border-bottom: 2px solid #e37222;
  }

  .nav-toggle {
    display: none;
  }

}

@media (min-width: 991px) {
  .logo-image img {
    width: 375px;
    height: 135px;
  }
  .contact-info {
    margin-top: 15px;
  }
}
