* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #484c51;
  padding: 0;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  width: 100%;
  background-color: #dde8f0;
}

.wrap {
  max-width: 1200px;
  margin: auto;
}

p {
  font-family: 'Lato', sans-serif;
}

h1 {
  color: #195477;
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  color: #195477;
}

nav {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

header {
  background-color: #657882;
  text-align: center;
  border-bottom: 7px solid #195477;
}

.nav-toggle {
  display: block;
  height: 140px;
  width: 100%;
  background: url("../images/menu-button-of-three-horizontal-lines.svg") no-repeat 98% center;
  cursor: pointer;
}

header nav {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

header nav ul {
  overflow: hidden;
  height: 0;
  /*border-top-right-radius: 20px;
  border-top-left-radius: 20px;*/
}

header nav ul.open {
  height: auto;
}

header nav ul li {
  list-style: none;
  text-align: left;
  width: 100%;
  margin: 0;
}

header nav ul li a {
  color: #fff;
  padding: 10px;
  font-size: 1.4rem;
  margin: 0;
  text-decoration: none;
  display: block;
}

.selected {
  background-color: #195477;
  border-radius: 5px 15px 5px;
}

.logo-image img {
  max-width: 150px;
  margin-left: 20px;
  float: left;
}

.contact-info {
  color: #fff;
  display: none;
  float: right;
  text-align: center;
  margin: 15px 20px 0 0;
}

.contact-info p {
  padding: 3px 0 3px 0;
}

.contact-info img {
  vertical-align: middle;
  padding: 0 15px 0 0;
}

nav a:hover {
  color: #70c3ce;
  transition: all 0.6s ease;
}

nav a:active {
  color: #e37222;
}

footer {
  background-color: #657882;
  text-align: center;
  color: #fff;
}

footer img {
  padding: 5px;
  vertical-align: middle;
  /*height: 50px;
  width: 50px;*/
}

.footer-content-one {
  border-bottom: 2px solid black;
}

.footer-content-three {
  color: black;
}

/* =======================================
      MEDIA QUERIES
========================================= */

@media (min-width: 575px) {
  header nav ul li {
    text-align: right;
  }
}

@media (min-width: 767px) {
  p {
    font-size: 1.1rem;
  }

  .logo-image {
    /*margin-top: 15px;
    margin-bottom: 15px;*/
  }

  .contact-info {
    display: block;
  }

  .nav-items {
    margin: 0;
    padding: 0;
  }

  header nav ul {
    /*background-color: #1e3139;*/
    /*background-color: #195477;*/
    text-align: center;
    height: auto;
    width: 100%;
    display: inline-flex;
  }

  header nav ul li {
    list-style: none;
    text-align: center;
    width: 100%;
    margin: 0;
  }

  header nav ul li a {
    color: #fff;
    padding: 10px;
    font-size: 1rem;
    margin: 0;
    text-decoration: none;
}

  .nav-toggle {
    display: none;
  }

}

@media (min-width: 991px) {

}
