/* =======================================
      GRID LAYOUT
========================================= */

.container {
  height: fill;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(50px, auto) minmax(400px, auto) minmax(375px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(350px, auto) minmax(350px, auto) minmax(200px, auto);
  grid-template-areas:
  "header"
  "main"
  "section"
  "aside"
  "aside"
  "aside"
  "aside-two"
  "aside-three"
  "aside-five"
  "footer";
}

header {
  grid-area: header;
  /*display: flex;
  flex-direction: row;*/
}

main {
  grid-area: main;
}

section {
  grid-area: section;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  grid-area: aside;
  display: grid;
  grid-column-gap: 15px;
}

.aside-two {
  grid-area: aside-two;
}

.aside-three {
  grid-area: aside-three;
  display: grid;
}

.aside-five {
  grid-area: aside-five;
}

footer {
  grid-area: footer;
}

aside-three .wrap-aside-three {
  grid-area: aside-three-title;
  grid-column: 1 / 5;
  grid-row: 6 / 7;
}

/* =======================================
      STYLES
========================================= */
.main-title {
  font-family: 'Dancing Script', cursive;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

main a {
  font-family: 'Open Sans', sans-serif;
}

main {
  height: 525px;
  background: url("../images/holiday_express_doctor.png") left bottom / 250px 350px no-repeat,
              linear-gradient(0deg, #eae7e3, transparent),
              url("../images/DentalOfficeExample.jpg") center / cover;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-top: 2px solid #e37222;
}

.main-title {
  margin-top: 5px;
}

.button {
  margin: auto;
  max-width: 180px;
  background-color: #657882;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 5px 25px 5px;
  box-shadow: 3px 3px 2px black;
  color: #fff;
}

.button:visited {
  color: #fff;
}

.button:hover {
  /*color: #70c3ce;*/
  color: #e37222;
  background-color: #195477;
  transition: all 0.6s ease;
}

section {
  background-color: #195477;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  height: 375px;
}

section h4 {
  color: #e37222;
}

section a:link {
  color: #70c3ce;
}

section a:visited {
  color: #70c3ce;
}

section a:hover {
  color: #e37222;
  transition: all 0.6s ease;
}

.wrap-section {
  display: none;
}

.line {
  margin: 0 auto;
  width: 140px;
  height: 3px;
  border-bottom: 3px solid #2078AA;
}

aside {
  background-color: #70c3ce;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

aside img {
  height: 250px;
  width: 325px;
  border-bottom: 5px solid #e37222;
}

aside h4, .aside-two h4, .aside-three h4 {
  font-size: 1.8rem;
  color: #195477;
}

.aside-five h4 {
  font-size: 1.8rem;
  color: #fff;
}

.aside-two h5 {
  font-size: 1.5rem;
}

.read-more-link {
  text-decoration: none;
  color: black;
  display: block;
  margin: 0px 100px 25px 100px;
  border: 1px solid #e37222;
}

.read-more-link:hover {
  background-color: #195477;
  color: #fff;
  transition: all 0.6s ease;
  border: 1px solid #195477;
}

.wrap-aside {
  display: grid;
  grid-column-gap: 15px;
}

.aside-two {
  background-color: #fff;
  text-align: center;
}

.our-team-content a {
  color: #e37222;
  text-decoration: none;
  border-bottom: 3px solid #195477;
}

.our-team-content a:hover {
  border-bottom: 3px solid #e37222;
  color: #195477;
  transition: all 0.6s ease;
}

.aside-three {
  background-color: #dde8f0;
  height: 350px;
  position: relative;
  text-align: center;
  /*overflow: hidden;*/
}

.wrap-aside-three {
  margin: 0 auto;
}

.aside-four {
  display: none;
}

.index-slide-1,
.index-slide-2,
.index-slide-3,
.index-slide-4,
.index-slide-5 {
  position: absolute;
  /*display: block;*/
  width: 80%;

  font-size: 1rem;

  animation-duration: 40s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.index-slide-1{
  animation-name: anim-1;
}

.index-slide-2{
  animation-name: anim-2;
}

.index-slide-3{
  animation-name: anim-3;
}
/*
.index-slide-4 {
  animation-name: anim-4;
}

.index-slide-5 {
  animation-name: anim-5;
}*/

@keyframes anim-1 {
  0%, 8.3% { left: -100%; opacity: 0; }
  8.3%, 25% { left: 10%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
  0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 10%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
  0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 10%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}

.wrap-aside-five p {
  margin: 0;
  padding-bottom: 25px;
}

.wrap-aside-five {
  color: #fff;
  text-align: center;
  background-color: #195477;
}

.doctor-note-photo {
  padding: 25px 10px 0px 10px;
}

.doctor-note-photo img {
  border-radius: 100px 50px;
  border: solid 2px #70c3ce;
}

/* =======================================
      MEDIA QUERIES
========================================= */

@media (min-width: 575px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, auto) minmax(400px, auto) minmax(375px, auto) minmax(50px, auto) minmax(350px, auto) minmax(350px, auto) minmax(350px, auto) minmax(200px, auto);
    grid-template-areas:
    "header header header"
    "main main main"
    "section section section"
    "aside aside aside"
    "aside-two aside-two aside-two"
    "aside-three aside-three aside-three"
    "aside-five aside-five aside-five"
    "footer footer footer"
  }
  h1 {
    font-size: 3rem;
  }

  .contact-info p{
    margin: 0 10px 0 0;
  }

  main {
    direction: rtl;
    text-align: right;
    height: 450px;
  }
  .main-title {
    margin-right: 25px;
  }
  .button {
    margin-right: 150px;
  }
  .doctor-subtitle {
    margin-right: 25px;
  }
  .aside-p-content {
    padding: 0px 100px 0px 100px;
  }
  .read-more-link {
    padding: 0px 100px 0px 100px;
  }
  aside img {
    min-width:
  }
}

@media (min-width: 767px) {
  .container {
    /*width: 90%;*/
    /*margin: 0 auto;*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, auto) minmax(400px, auto) minmax(375px, auto) minmax(50px, auto) minmax(125px, auto) minmax(350px, auto) minmax(350px, auto) minmax(200px, auto);
    grid-template-areas:
    "header header header"
    "main main main"
    "section section section"
    "aside aside aside"
    "aside-four aside-four aside-four"
    "aside-two aside-two aside-two"
    "aside-three aside-three aside-three"
    "footer footer footer"
  }

  h1 {
    font-size: 3.5rem;
  }
  .button {
    margin-right: 200px;
  }
  section {
    font-size: 1.2rem;
  }
  .aside-p-content {
    padding: 0px 200px 0px 200px;
  }
  .read-more-link {
    margin: 0px 200px 35px 200px;
  }
  .wrap-aside-four {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
  }
  .aside-four {
    display: inline-block;
    grid-area: aside-four;
    text-align: left;
    background-color: #e37222;
    color: #fff;
    height: 125px;
  }
  .contact-us-slider {
    margin-left: 25px;
    font-size: 2rem;

  }
  .contact-us-slider-link {
    font-size: 1rem;
    margin-right: 25px;
    padding: 10px;
    border: #fff solid 1px;
    color: #fff;
    text-decoration: none;
  }
  .contact-us-slider-link:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: rgba(255, 255, 255, 0.3) solid 1px;
    transition: all 0.8s ease;
  }
}

@media (min-width: 991px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(150px, auto) minmax(400px, auto) minmax(375px, auto) minmax(50px, auto) minmax(125px, auto) minmax(350px, auto) minmax(350px, auto) minmax(200px, auto);
    grid-template-areas:
    "header header header"
    "main main main"
    "section section section"
    "aside aside aside"
    "aside-four aside-four aside-four"
    "aside-two aside-two aside-two"
    "aside-three aside-three aside-three"
    "footer footer footer"
  }

  h1 {
    font-size: 4.5rem;
  }
  .button {
    margin-right: 250px;
  }
  section {
    font-size: 1.5rem;
  }
  aside {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
  }
  aside .content-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: content-one;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    padding: 0 30px 0 30px;
  }
  aside .content-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: content-two;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    padding: 0 30px 0 30px;
  }
  aside .content-three {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: content-three;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    padding: 0 30px 0 30px;
  }

  aside p {
    padding: 0;
  }
  .aside-p-content {
    padding: 0;
  }
  .read-more-link {
    margin: 0;
  }
  aside-two {
    text-align: left;
  }
  .wrap-aside-two {
    display: flex;
  }
  .aside-two {
    text-align: left;
  }
  .contact-us-slider {
    font-size: 2.6rem;
  }
  .contact-us-slider-link {
    font-size: 1.3rem;
  }
  .our-team-content {
    margin-left: 20px;
  }
  .our-team-photo img {
    height: 375px;
    width: 1225px;
  }
  .our-team-photo {
    box-shadow: inset 0 0 50px 250px #fff;
    margin-right: 20px;
  }
  .aside-three-title h4 {
    font-size: 2.5rem;
  }
}
