/* =======================================
      GRID LAYOUT
========================================= */

.container {
  background-color: #fff;
  height: fill;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(50px, auto) minmax(400px, auto) minmax(375px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(350px, auto) minmax(350px, auto) minmax(200px, auto);
  grid-template-areas:
  "header"
  /* "nav" */
  /* "aside-six" */
  "main"
  "section"
  "aside"
  "aside"
  "aside"
  "aside-two"
  "aside-three"
  "aside-five"
  "footer";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

section {
  grid-area: section;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  grid-area: aside;
  display: grid;
  grid-column-gap: 15px;
}

.aside-two {
  grid-area: aside-two;
}

.aside-three {
  grid-area: aside-three;
  /*display: grid;*/
}

.aside-five {
  grid-area: aside-five;
}

.aside-six {
  grid-area: aside-six;
}

footer {
  grid-area: footer;
}

/* =======================================
      STYLES
========================================= */
.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.main-title {
  font-family: 'Dancing Script', cursive;
  z-index: 1000;
}

.main-subtitle {
  visibility: hidden;
}
.pre-main-subtitle {
  font-size: 1.3em;
  color: darkgray;
}

h1 {
  font-size: 3rem;
  color: #50b7e3;
}

h3 {
  font-size: 2rem;
}

main {
  height: 475px;
  background-color: #fff;
  /*background: url("../images/SeniorSmileTest.jpg") no-repeat 50% 100% / 450px 325px;*/
  /* background: linear-gradient(220deg, /*#eae7e3,*/ #fff, transparent),
              url("../images/SeniorSmileTest.jpg") center / cover; */
  /*overflow: hidden;*/
}

.wrap-main {
  /* border-top: 2px solid #e37222; */
  border-top: 3px solid #195477;
  height: 475px;
  background: url("../images/SeniorSmileTest.jpg") no-repeat 50% 100% / 450px 325px;
  text-align: center;
  /*position: relative;*/
}

/*.wrap-main img {
  position: absolute;
  top: 143px;
  left: -3%;
  height: 325px;
  width: 450px;
}*/

/* top: 95px, right: 25% h: 350px, width: 250px*/

/*.wrap-main {
  position: relative;
  background: url("../images/holiday_express_doctor.png") left bottom / 250px 350px no-repeat
}*/

.main-title {
  padding-top: 5px;
  margin-top: 0;
}

.pre-main-button {
  margin-bottom: 5px;
  font-size: 1.5em;
  border: 3px solid black;
  border-radius: 5px;
  /* background: #52b7e0; */
  background: #d13e4c;
  color: black;
  transition: all ease-out .6s;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.pre-main-button:hover {
  border: 3px solid #d13e4c; 
  background: white;
  color: #d13e4c;
  cursor: pointer;
}

/*.button {
  margin: auto;
  max-width: 180px;
  background-color: #9da7ad;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: 'Roboto';
  border-radius: 5px 25px 5px;
  box-shadow: 3px 3px 2px black;
  color: #000;
}

.button:visited {
  color: #000;
}

.button:hover {
  color: #70c3ce;
  background-color: #195477;
  transition: all 0.6s ease;
}

.button:active {
  color: #fff;
}*/

section {
  background-color: #195477;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  height: 375px;
}

section h4 {
  color: #e37222;
}

section a:link {
  color: #70c3ce;
}

section a:visited {
  color: #70c3ce;
}

section a:hover {
  color: #e37222;
  transition: all 0.6s ease;
}

.wrap-section {
  display: none;
}

.line {
  margin: 0 auto;
  width: 140px;
  height: 3px;
  border-bottom: 3px solid #2078AA;
}

aside {
  background-color: #70c3ce;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

aside img {
  height: 250px;
  width: 325px;
  border-bottom: 5px solid #e37222;
}

aside h4, .aside-two h4, .aside-three h4 {
  font-size: 1.8rem;
  color: #195477;
}

.aside-five h4 {
  font-size: 1.8rem;
  color: #fff;
}

.aside-two h5 {
  font-size: 1.5rem;
}

.read-more-link {
  text-decoration: none;
  color: #000;
  display: block;
  margin: 0px 100px 25px 100px;
  border: 1px solid #e37222;
}

.read-more-link:hover {
  background-color: #195477;
  color: #fff;
  transition: all 0.6s ease;
  border: 1px solid #195477;
}

.wrap-aside {
  display: grid;
  grid-column-gap: 15px;
}

.aside-two {
  background-color: #fff;
  text-align: center;
}

.our-team-content a {
  color: #e37222;
  text-decoration: none;
  border-bottom: 3px solid #195477;
}

.our-team-content a:hover {
  border-bottom: 3px solid #e37222;
  color: #195477;
  transition: all 0.6s ease;
}

.aside-four {
  display: none;
}

.aside-three {
  background-color: #dde8f0;
  height: 350px;
  text-align: center;
}

.slideshow-container {
  position: relative;
}

.slideshow-container > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.wrap-aside-three {
  margin: 0 auto;
}

.aside-five {
  background-color: #195477;
  text-align: center;
  color: #fff;
  padding-bottom: 25px;
}

.aside-six {
  text-align: center;
}

.doctor-note-photo {
  padding: 25px 20px 0px 20px;
}

.doctor-note-photo img {
  /* border-radius: 100px 50px; */
  box-shadow: -15px 0px 15px 1px #fff;
  /* border: solid 5px #70c3ce;
  border: solid 1px #fff; */
}
/* .attention {
  animation-delay: 1.2s;
  animation-duration: 2s;
  animation-iteration-count: 5;
}
.bounceIn {
  animation-delay: 1.2s;
} */

.lookhere {
  animation-delay: 2.5s;
  animation-iteration-count: infinite;
}

.wrap-main img {
  height: 80px;
  width: 60px;
}

/* =======================================
      MEDIA QUERIES
========================================= */
@media (min-width: 455px) {
  .wrap-main {
    /*background: url("../images/SeniorSmileTest.jpg") no-repeat 50% 100% / 500px 375px;*/
    background-position: 50% 100%;
    background-size: 500px 375px;
    /*background: linear-gradient(220deg, /*#eae7e3,*/ #fff, transparent),
                url("../images/SeniorSmileTest.jpg") center / cover;*/
    /*overflow: hidden;*/
  }
}
@media (min-width: 530px) {
  .wrap-main {
    background-position: 0% 100%;
    background-size: 500px 375px;
    /*background: url("../images/SeniorSmileTest.jpg") no-repeat 0% 100% / 500px 375px;*/
  }
}

@media (min-width: 575px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, auto) minmax(400px, auto) minmax(375px, auto) minmax(50px, auto) minmax(350px, auto) minmax(350px, auto) minmax(350px, auto) minmax(200px, auto);
    grid-template-areas:
    "header header header"
    /* "aside-six aside-six aside-six" */
    "main main main"
    "section section section"
    "aside aside aside"
    "aside-two aside-two aside-two"
    "aside-three aside-three aside-three"
    "aside-five aside-five aside-five"
    "footer footer footer"
  }
  h1 {
    font-size: 3.4rem;
  }

  .pre-main-button {
    font-size: 1.7em;
  }

  .pre-main-subtitle {
    font-size: 1.5em;
  }

  .contact-info p{
    margin: 0 10px 0 0;
  }
  main {
    /*background: url("../images/SeniorSmileTest.jpg") no-repeat left bottom / 500px 375px;*/
    /*background: linear-gradient(220deg, /*#eae7e3,*/ #fff, transparent),
                url("../images/SeniorSmileTest.jpg") center / cover;*/
    /*overflow: hidden;*/
  }

  .wrap-main {
    text-align: right;
  }
  /*.wrap-main img {
    right: 58%;
  }*/
  .main-title {
    margin-right: 25px;
  }
  .button {
    margin-right: 150px;
  }
  .doctor-subtitle {
    margin-right: 25px;
  }
  .aside-p-content {
    padding: 0px 100px 0px 100px;
  }
  .read-more-link {
    padding: 0px 100px 0px 100px;
  }
  aside img {
    min-width:
  }
  .doctor-note-content p {
    margin: 0 15px 0 15px;
  }
}

@media (min-width: 767px) {
  .container {
    /*width: 90%;*/
    /*margin: 0 auto;*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, auto) minmax(50px, auto) minmax(400px, auto) minmax(375px, auto) minmax(50px, auto) minmax(350px, auto) minmax(125px, auto) minmax(350px, auto) minmax(350px, auto) minmax(200px, auto);
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "section section section"
    "aside aside aside"
    "aside-two aside-two aside-two"
    "aside-four aside-four aside-four"
    "aside-three aside-three aside-three"
    "aside-five aside-five aside-five"
    "footer footer footer"
  }
  /*.wrap-main img {
    position: absolute;
    top: 120px;
    left: 5%;
    height: 350px;
    width: 475px;
  }*/

  .wrap-main {
    border: none;
  
  }
  .main-subtitle {
    visibility: visible;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.15rem;
  }
  .main-button {
    border: 3px solid black;
    border-radius: 5px;
    background: #d13e4c;
    color: black;
    transition: all ease-out .6s;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  }
  .main-button:hover {
    border: 3px solid #d13e4c; 
    background: white;
    color: #d13e4c;
    cursor: pointer;

  }

  h1 {
    font-size: 4rem;
  }
  /*.wrap-main img {
    right: 65%;
  }*/
  /*.button {
    margin-right: 200px;
  }*/
  .aside-six {
    display: none;
  }
  section {
    font-size: 1.2rem;
  }
  .aside-p-content {
    padding: 0px 200px 0px 200px;
  }
  .read-more-link {
    margin: 0px 200px 35px 200px;
  }
  .wrap-aside-four {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
  }
  .aside-four {
    display: inline-block;
    grid-area: aside-four;
    text-align: left;
    background-color: #e37222;
    color: #fff;
    height: 125px;
  }
  .contact-us-slider {
    margin-left: 25px;
    font-size: 2rem;

  }
  .contact-us-slider-link {
    font-size: 1rem;
    margin-right: 25px;
    padding: 10px;
    border: #fff solid 1px;
    color: #fff;
    text-decoration: none;
  }
  .contact-us-slider-link:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: rgba(255, 255, 255, 0.3) solid 1px;
    transition: all 0.8s ease;
  }
  .doctor-note-photo img {
    width: 350px;
    height: 310px;
  }
}

@media (min-width: 991px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(150px, auto) minmax(50px, auto) minmax(400px, auto) minmax(375px, auto) minmax(50px, auto) minmax(400px, auto) minmax(125px, auto) minmax(400px, auto) minmax(450px, auto) minmax(200px, auto);
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "section section section"
    "aside aside aside"
    "aside-two aside-two aside-two"
    "aside-four aside-four aside-four"
    "aside-three aside-three aside-three"
    "aside-five aside-five aside-five"
    "footer footer footer"
  }

  h1 {
    font-size: 4.8rem;
    margin-bottom: 0;
  }
  .main-subtitle {
    font-size: 1.75rem;
    /*font-style: italic;*/
  }

  /*.wrap-main img {
    right: 75%;
  }*/
  /*.button {
    margin-right: 250px;
  }*/
  section {
    font-size: 1.5rem;
  }
  aside {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
  }
  aside .content-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: content-one;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    padding: 0 30px 0 30px;
  }
  aside .content-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: content-two;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    padding: 0 30px 0 30px;
  }
  aside .content-three {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: content-three;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    padding: 0 30px 0 30px;
  }

  aside p {
    padding: 0;
  }
  .aside-p-content {
    padding: 0;
  }
  .read-more-link {
    margin: 0;
  }
  aside-two {
    text-align: left;
  }
  .wrap-aside-two {
    display: flex;
    height: 450px;
    align-items: center;
  }
  .aside-two {
    text-align: left;
  }
  .our-team-content {
    flex: 1;
    margin-left: 20px;
    margin-right: 40px;
  }
  .our-team-photo img {
    height: 375px;
    width: 525px;
  }
  .our-team-photo {
    box-shadow: inset 0 0 50px 250px #fff;
    margin-right: 20px;
  }
  .contact-us-slider {
    font-size: 2.6rem;
  }
  .contact-us-slider-link {
    font-size: 1.3rem;
  }
  .aside-three {
    height: 400px;
  }
  .wrap-aside-three {
    max-width: 800px;
  }
  .aside-three-title h4 {
    font-size: 2.5rem;
  }
  .name {
    font-size: 1.9rem;
    font-family: 'Dancing Script', cursive;
  }
  .aside-five {
    padding: 0px;
  }
  .wrap-aside-five {
    text-align: center;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .doctor-note-photo {
    padding-left: 35px;
  }
  .doctor-note-content {
    flex: 1;
  }
  .doctor-note-content p {
    text-align: left;
    width: 75%;
    margin: 0 auto;
    word-spacing: .05rem;
  }
  .doctor-note-content h4 {
    font-size: 2.2rem;
  }
}

@media (min-width: 1140px) {
  .wrap-main {
    background-size: 540px 415px;
    /*background: url("../images/SeniorSmileTest.jpg") no-repeat 0% 100% / 540px 415px;*/
  }
  .main-title {
    padding-top: 35px;
  }
}
