/* =======================================
      GRID LAYOUT
========================================= */

.container {
  height: fill;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(50px, auto) minmax(50px, auto) minmax(400px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto);
  grid-template-areas:
  "header"
  "subtitle"
  "main"
  "aside"
  "section"
  "footer";
}

header {
  grid-area: header;
}

.subtitle {
  grid-area: subtitle;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

section {
  grid-area: section;
  display: grid;
  align-items: center;
  grid-column-gap: 15px;
}

footer {
  grid-area: footer;
}

/* =======================================
      STYLES
========================================= */
.subtitle {
  background-color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

.subtitle h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 1.75rem;
  /*color: #e37222;*/
  color: #195477;
  margin: 0;
}

main {
  height: 400px;
  /*background-image: url("../images/JDSnewpatients.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;*/
  margin-bottom: 35px;
}

aside {
  margin: 5px;
  text-align: center;
  background-color: #dde8f0;
}

.line1,
.line2 {
  margin: 0 auto;
  width: 60%;
  border: 1px solid black;
}

section ul {
  text-align: left;
}

section {
  margin: 5px;
  text-align: center;
  background-color: #dde8f0;
}

section a:link {
  color: #70c3ce;
}

section a:visited {
  color: #70c3ce
}

section a:hover {
  color: #195477;
}

.content-two {
  margin-bottom: 20px;
}

.content-three {
  margin-bottom: 20px;
}

.content-four {
  margin-bottom: 20px;
}


/* =======================================
      MEDIA QUERIES
========================================= */

@media (min-width: 575px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(50px, auto) minmax(50px, auto) minmax(400px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto);
    grid-template-areas:
    "header header"
    "subtitle subtitle"
    "main main"
    "aside aside"
    "section section"
    "footer footer"
  }
  .contact-info p{
    margin: 0 10px 0 0;
  }
  .subtitle h2 {
    font-size: 2.2rem;
  }
  nav a {
    padding: 5px 8px 5px 8px;
  }
  aside {
    margin: 5px 15px 5px 15px;
  }
  section {
    margin: 5px 15px 5px 15px;
  }
  footer {
    text-align: right;
  }
}

@media (min-width: 767px) {
  .subtitle {
    margin-top: 15px;
  }
  .subtitle h2 {
    font-size: 2.7rem;
  }

  li {
    font-size: 1.1rem;
  }
  .content-two {
    grid-area: content-two;
    grid-column: 1 / 2;
    grid-row: 4 / 6
  }

  .content-three {
    grid-area: content-three;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  .content-four {
    grid-area: content-four;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
  }
  .container {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(50px, auto) minmax(50px, auto) minmax(400px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto);
    grid-template-areas:
    "header header"
    "subtitle subtitle"
    "main main"
    "aside aside"
    "section section"
    "section section"
    "footer footer"
  }
}

@media (min-width: 991px) {
  .content-two,
  .content-three,
  .content-four {
    padding: 0 15px 0 15px;
  }
}
